<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Opportunity Manager</title>

	<!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">

</head>
<body>

	<div class="container">
		<div class="jumbotron">
			<h1>Hi</h1>
			<p>This application displays all your opportunities <br /><br />
			<a href="/oauth2/auth?env=SandBox" class="btn btn-primary btn-lg">Login With SandBox</a>
			<a href="/oauth2/auth?env=Production" class="btn btn-primary btn-lg">Login With Production</a>
		</div>
	</div>
	
	
</body>
</html>